/* DarkMode or Light Mode */
body.light {
  background-color: #fff;
  color: black;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: yellow;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .redcircle {
  background-color: #282828;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .redcircle {
  transform: translateX(24px);
}

.label i {
  color: black;
}

.redcircle i {
  color: yellow;
  display: flex;
  padding-left: 5px;
  padding-top: 1.5px;
}
